<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="Fall Assistant"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Assistant activity -->


        <activity
            android:name=".AssistantActivity"
            android:launchMode="singleTask"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- Shortcut toggle activity -->
        <activity
            android:name=".ToggleActivity"
            android:exported="true"
            android:label="Fall Assistant Toggle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.fallassistant.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="Fall Assistant Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Listening service -->
        <service
            android:name=".ListeningService"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <service
            android:name=".FallAssistantVoiceService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:exported="true"
            android:enabled="true"
            android:isolatedProcess="false"
            android:directBootAware="true">

            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>

            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/voice_interaction_service" />
        </service>

        <service
            android:name=".FallAssistantSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:exported="true"
            android:enabled="true"
            android:isolatedProcess="false"
            android:directBootAware="true" />

        <service
            android:name=".FallAssistantRecognitionService"
            android:permission="android.permission.BIND_SPEECH_RECOGNITION_SERVICE"
            android:exported="true"
            android:enabled="true"
            android:isolatedProcess="false"
            android:directBootAware="true">

            <intent-filter>
                <action android:name="android.speech.RecognitionService" />
            </intent-filter>
        </service>


    </application>
</manifest>
